<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC1jvcimJOBAh6-Yk4h6_gBSBGhP7yi8BA</string>
	<key>GCM_SENDER_ID</key>
	<string>237096137001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>flutter-proj-5370e</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-proj-5370e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:237096137001:ios:a188fffacaa9b8b6878738</string>
</dict>
</plist>